*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.text-primary-color{
    color: #FD6E0A;
}
.btn-primary{
    background-color: #FD6E0A;
    color: #FFFFFF;
    height: 64px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 700;
    border: 0;
    padding: 18px 35px;
}

nav{
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
}

ul li {
    list-style: none;
    margin-left: 50px;
}

nav ul{
    display: flex;
    align-items: center;
}

.nav-title{
    font-weight: 800;
    font-size: 45px;
}
